@font-face {
    font-family: PTSansRegular;
    src: url(../fonts/PTC55F.ttf);
}
@font-face {
     font-family: PTSansBold;
    src: url(../fonts/PTC75F.ttf);
}
@font-face {
     font-family: PTSansLight;
    src: url(../fonts/PTN57F.ttf);
}
@font-face {
     font-family: PTSans;
    src: url(../fonts/PTS55F.ttf);
}
@font-face {
     font-family: PTSansItalic;
    src: url(../fonts/PTS76F.ttf);
}
